html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open+Sans', sans-serif;
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    line-height: 1;
}

.bottom-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 2rem;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}

.scroll-down-animation {
    animation: bounce 1.75s infinite;
}

.overlay::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    /* Adjust the last value to increase/decrease the darkness */
    z-index: 1;
}

/* Ensure your content is positioned above the overlay */
.content {
    position: relative;
    z-index: 2;
}